.tippy-box {
  --border-color: rgba(0, 0, 0, 0.7);

  background-color: white;
  border: 1px solid var(--border-color);

  &, * {
    color: black;
  }

  &[data-placement^='top'] {
    > .tippy-arrow::before, > .tippy-arrow::after {
      border-color: transparent;
      border-width: 8px 8px 0;
      left: 0;
      content: "";
    }

    > .tippy-arrow::before {
      bottom: -8.5px;
      border-top-color: var(--border-color);
    }

    > .tippy-arrow::after {
      bottom: -7px;
      border-top-color: initial;
      transform-origin: center top;
      position: absolute;
      border-color: transparent;
      border-style: solid;

      border-top-color: white;
      border-bottom-color: blue;
    }
  }

  &[data-placement^='bottom'] {
    > .tippy-arrow::before, > .tippy-arrow::after {
      border-color: transparent;
      border-width: 0 8px 8px 8px;
      left: 0;
      content: "";
    }

    > .tippy-arrow::before {
      top: -8.5px;
      border-bottom-color: var(--border-color);
    }

    > .tippy-arrow::after {
      top: -7px;
      border-bottom-color: initial;
      transform-origin: center top;
      position: absolute;
      border-color: transparent;
      border-style: solid;

      border-bottom-color: white;
    }
  }
}

.tooltip {
  .arrow {
    display: none;
  }

  &.show {
    opacity: 1;
  }

  .tooltip-inner {
    border: 1px solid grey;
    color: black;
    background-color: white;
    max-width: 250px;
  }
}
